{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}HospitalApp{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}">HospitalApp</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('dashboard') }}">Data dashboard</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}

<div class='container'>
    <p>Predict a patient's length of stay in the hospital by filling out the below information. The data is fed to a 
        machine learning model trained on historical data.</p>
</div>

<div class='container'>
    {{ wtf.quick_form(form) }}
</div>

<div class='container'>

    <h3>{% if session.get('pred') %} The predicted length of stay in the hospital is {{session.get('pred')['pred']}} days.</h3>

    <h4>Probabilities: {{session.get('pred')['uncertainty']}}
         {% else %} {% endif %}</h4>
    <br>
    <h4>User information: {{session.get('user_info')}}</h4>

</div>

{% endblock %}